[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "LuaState"]
	path = deps/LuaState
	url = https://github.com/AdUki/LuaState.git
[submodule "bundle"]
	path = deps/bundle
	url = https://github.com/r-lyeh/bundle.git
[submodule "lualinq"]
	path = deps/lualinq
	url = https://github.com/xanathar/lualinq.git
